<nav class="navbar is-fixed-top is-vcentered">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to root_path, 'aria-label': 'logo' do %>
        <%= image_tag 'logo.png', width: '25%', height: '25%', class:(request.variant.include?(:phone) ? 'mt-4 ml-4' : 'mt-3 ml-4' ), alt: 'logo INNOSERV' %>
      <% end %>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenuHeroC">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarMenuHeroC" class="navbar-menu">
      <div class="navbar-end">
        <%= link_to "Home",
            root_path, 
            class: "navbar-item is-color-primary" 
        %>
        <%= link_to "Trailer",
            root_path(anchor: "trailer"),
            class: "navbar-item is-color-primary" 
        %>
        <%= link_to "Visual Examples",
            root_path(anchor: "visual_examples"),
            class: "navbar-item is-color-primary" 
        %>
        <%= link_to "About",
            about_path, 
            class: "navbar-item is-color-primary" 
        %>
        <%= link_to "Contact",
            contact_path, 
            class: "navbar-item is-color-primary" 
        %>
      </div>
    </div>
  </div>
  <div class="is-background-color-primary" style="height:2px;">
  </div>
</nav>