<nav id="navbar" class="navbar is-fixed-top is-vcentered has-background-light">
  <div class="container">
    <div class="navbar-brand">
      <%= image_tag 'logo.png',class: 'image', id: 'logo', alt: 'logo INNOSERV' %>
      <a role="button" id="navbar-burger" class="navbar-burger mt-3" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">
        <%= link_to "Home",
            root_path, 
            class: "navbar-item is-color-primary ",
            id: "home-link"
        %>
        <%= link_to "Trailer",
            root_path(anchor: "trailer"),
            class: "navbar-item is-color-primary",
            id: "trailer-link"
        %>
        <%= link_to "Visual Examples",
            root_path(anchor: "visual_examples"),
            class: "navbar-item is-color-primary",
            id: "visual_examples-link"
        %>
        <%= link_to "About",
            about_path, 
            class: "navbar-item #{ 'is-active' if params[:action] == 'about'} is-color-primary",
            id: "about-link"
        %>
        <%= link_to "Contact",
            contact_path, 
            class: "navbar-item #{ 'is-active' if params[:action] == 'contact'} is-color-primary",
            id: "contact-link"
        %>
      </div>
    </div>
  </div>
</nav>
<div class="is-background-color-primary" style="padding-top:<%= request.variant.include?(:phone) ? '79' : '92' %>px;">
</div>