<nav id="navbar" class="navbar is-fixed-top is-vcentered">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to root_path, 'aria-label': 'logo', id: 'logo_link' do %>
        <%= image_tag 'logo.webp',class: 'image', id: 'logo', alt: 'logo INNOSERV' %>
      <% end %>
      <a role="button" id="navbar-burger" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbar-menu" class="navbar-menu">
      <div class="navbar-end">
        <!-- 
          Il n'y a pas ce code #{ 'is-active' if params[:action] == 'home'} sur le lien home parce que c'est géré dans home.html.erb
        -->
        <%= link_to "Home",
            root_path, 
            class: "navbar-item is-color-primary",
            id: "home-link"
        %>
        <%= link_to "Trailer",
            root_path(anchor: "trailer"),
            class: "navbar-item is-color-primary",
            id: "trailer-link"
        %>
        <!-- 
          #{ 'is-active' if params[:action] == 'show'} posera problème si il y a plusieurs pages avec des shows
        -->
        <%= link_to "Visual Examples",
            root_path(anchor: "visual-examples"),
            class: "navbar-item #{ 'is-active' if params[:action] == 'show'} is-color-primary",
            id: "visual-examples-link"
        %>
        <%= link_to "About",
            about_path, 
            class: "navbar-item #{ 'is-active' if params[:action] == 'about'} is-color-primary",
            id: "about-link"
        %>
        <%= link_to "Contact",
            contact_path, 
            class: "navbar-item #{ 'is-active' if params[:action] == 'contact'} is-color-primary",
            id: "contact-link"
        %>
      </div>
    </div>
  </div>
</nav>
<div class="is-background-color-primary" style="padding-top:<%= request.variant.include?(:phone) ? '79' : '92' %>px;">
</div>