<%= form_tag do %>
  <section class="hero content is-background-color-secondary is-medium pb-6">
    <div style="height:80px;">
    </div>
    <div class="hero-body has-text-centered">
      <p class="title is-1 has-text-centered is-color-primary mb-6">
        Contact
      </p>
      <p class="subtitle is-3">
        You have a question or you would like our website support to contact you?
      </p>
      <p class="subtitle is-4">
        Fill out the form below and we will respond as soon as possible.
      </p>

    <div class="column is-half is-offset-one-quarter has-text-left">
      <div class="mb-3">
        <%= text_field_tag :email, params[:email], class:'input', placeholder: 'Email*', required: true %>
        <% if alert %>
          <dl>
            <li class="has-text-danger is-size-6">
              <%= alert %>
            </li>
          </dl>
        <% end %>
      </div>
      <%= text_field_tag :subject, params[:subject], class:'input mb-3', placeholder: 'Subject*', required: true %>
      <%= text_area_tag :content, params[:content], rows: 10, class:'textarea mb-3', placeholder: 'Content*', required: true %>
      <p class="mb-5">* : must be filled</p>
      <div class="action">
        <%= submit_tag "Submit", class:'button is-background-color-primary is-medium is-outlined' %>
      </div>
    </div>
    </div>
  </section>
<% end %>