<div class="tile is-parent is-4 pb-6">
  <article class="box tile is-child">
    <%= link_to project do %>
      <figure class="image">
        <% if FileTest.exist?("app/assets/images/" + project.image + ".png") %>
          <%= image_tag project.image, width: '100%', height: '100%', alt: "image du projet '#{ project.name }'" %>
        <% else %>
          <%= image_tag 'Inno-background.png', width: '100%', height: '100%', alt: "image de remplacement du projet '#{ project.name }'" %>
        <% end %>
      </figure>
      <div class="pt-3">
        <%
=begin%>
 <p class="subtitle is-5 has-text-weight-bold has-text-justified is-color-secondary">
          <%= project.created_at.day %>
          <%= l project.created_at.to_date, format: :month %>
          <%= project.created_at.year %>
        </p>  
<%
=end%>
        <p class="title is-4 has-text-left">
          <%= project.name %>
        </p>
        <p class="is-size-6 has-text-justified">
          <%= strip_tags(project.description) %>
        </p>
      </div>
    <% end %>
  </article>
</div>
