<div class="tile is-parent is-4 pb-6">
  <article class="box tile is-child">
    <%= link_to project do %>
      <figure class="image">
        <% if FileTest.exist?("app/assets/images/" + project.big_image + ".png") %>
          <%= image_tag project.image, width: '100%', height: '100%', alt: "image du projet '#{ project.name }'" %>
        <% else %>
          <%= image_tag 'Inno-background.png', width: '100%', height: '100%', alt: "image de remplacement du projet '#{ project.name }'" %>
        <% end %>
      </figure>
      <div class="pt-3">
        <p class="title is-4 has-text-left">
          <%= project.name %>
        </p>
        <p class="subtitle is-size-6 has-text-justified">
          <%= strip_tags(project.description) %>
        </p>
        <p class="is-color-primary is-size-6 has-text-left">
          <% if project.fieldOfEducation %>
            Education 
          <% end %>
          <% if project.fieldOfWelfare %>
            Welfare 
          <% end %>
          <% if project.fieldOfHealth %>
            Health 
          <% end %>
        </p>
      </div>
    <% end %>
  </article>
</div>
