<p id="notice"><%= notice %></p>

<p>
  <strong>name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @project.image %>
</p>

<p>
  <strong>Information:</strong>
  <%= @project.information %>
</p>

<p>
  <strong>Website:</strong>
  <%= @project.website %>
</p>

<p>
  <strong>Videofile:</strong>
  <%= @project.videofile %>
</p>

<p>
  <strong>Subtitles:</strong>
  <%= @project.subTitles %>
</p>

<p>
  <strong>Fieldofeducation:</strong>
  <%= @project.fieldOfEducation %>
</p>

<p>
  <strong>Fieldofwelfare:</strong>
  <%= @project.fieldOfWelfare %>
</p>

<p>
  <strong>Fieldofhealth:</strong>
  <%= @project.fieldOfHealth %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
