<%= render 'partials/navbar' %>

<p id="notice"><%= notice %></p>

<div class="container">
  <h1 class="title is-1 is-color-secondary mt-6">
    <%= @project.name %>
  </h1>
  <h2 class="subtitle is-3">
    <%= @project.description %>
  </h2>
  <p class="is-size-2 is-color-primary is-size-6">
    <% if @project.fieldOfEducation %>
      Education 
    <% end %>
    <% if @project.fieldOfWelfare %>
      Welfare 
    <% end %>
    <% if @project.fieldOfHealth %>
      Health 
    <% end %>
  </p>

  <%
=begin%>
 <% if FileTest.exist?("app/assets/images/" + @project.image + ".png") %> 
<%
=end%>
      <%= video_tag '/videos/BlueAssist_06.03.2013-iphone.mp4',poster: @project.image, controls: true, preload: 'none' %>
  <%
=begin%>
 <% end %> 
<%
=end%>

  <div class="content is-large">
    <h1>Informations</h1>
    <p>
      <%= @project.information %>
    </p>
    <h2>Détails</h2>
    <p>
      Site du projet :
      <%= @project.website %>
    </p>
    <p>
      Videofile :
      <%= @project.videofile %>
    </p>
    <p>
      Sous-titres :
      <%= @project.subTitles %>
    </p>
  </div>
</div>

<%
=begin%>
 <%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> 
<%
=end%>
