<p id="notice"><%= notice %></p>

<section class="hero is-background-color-secondary is-medium mb-6">
  <div class="hero-body has-text-centered">
    <p class="title is-1 has-text-centered is-color-secondary mt-6">
      <%= @project.name %>
    </p>
    <p class="subtitle is-3 has-text-centered has-text-light">
      <%= @project.description %>
    </p>
  </div>
</section>

<% if FileTest.exist?("app/assets/images/" + @project.image + ".png") %>
  <figure class="image">
    <%= image_tag @project.image, width: '100%', height: '100%', alt: "image du projet '#{ @project.name }'" %>
  </figure>
<% end %>

<div class="content is-large">
  <h1>Informations</h1>
  <p>
    <%= @project.information %>
  </p>
  <h2>Détails</h2>
  <p>
    Site du projet :
    <%= @project.website %>
  </p>
  <p>
    Videofile :
    <%= @project.videofile %>
  </p>
  <p>
    Sous-titres :
    <%= @project.subTitles %>
  </p>
  <ul>
    <li><strong>Fieldofeducation:</strong> <%= @project.fieldOfEducation %></li>
    <li><strong>Fieldofwelfare:</strong> <%= @project.fieldOfWelfare %></li>
    <li><strong>Fieldofhealth:</strong> <%= @project.fieldOfHealth %></li>
  </ul>
</div>

<%
=begin%>
 <%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> 
<%
=end%>
