<div class="container pt-6 mb-6">
  <h1 class="title is-1 is-color-primary mt-6">
    <%= @project.name %>
  </h1>
  <h2 class="subtitle is-3">
    <%= @project.description %>
  </h2>
  <div class="tags mb-6">
    <% if @project.fieldOfEducation %>
      <p class="tag is-size-6 is-color-primary">
        Education
      </p>
    <% end %>
    <% if @project.fieldOfWelfare %>
      <p class="tag is-size-6 is-color-primary">
        Welfare
      </p>
    <% end %>
    <% if @project.fieldOfHealth %>
      <p class="tag is-size-6 is-color-primary">
        Health
      </p>
    <% end %>
  </div>
  <div class="container has-text-centered mb-6">
    <%= video_tag '/videos/BlueAssist_06.03.2013-iphone.mp4', width: '600', class:"is-centered",poster: @project.image, controls: true, preload: 'none' %>
  </div>

  <!--TODO: agrandir le texte ci-dessous (simple_format pose problème) -->
  <h1 class="content title">
    <%= simple_format(@project.information) %>
  </h1>

  <% unless @project.website.blank?  %>
    <p>
      Website :
      <%= link_to @project.website, @project.website, target: '_blank', rel:"noreferrer noopener", 'aria-label': 'Project\'s Website' %>
    </p>
  <% end %>
</div>